*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  max-height: 800px;
  justify-content: center;
  align-items: center;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-rows: 534px;
  justify-content: center;
  gap: 30px;
  align-items: end;
}

.search-form {
  display: flex;
  align-items: flex-end;
  gap: 40px;
  justify-content: space-between;
}

.title {
  font-family: "Oswald";
  padding-bottom: 24px;
  font-weight: 700;
  font-size: 75px;
  line-height: 0.94;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  max-height: 298px;
  overflow: scroll;
  padding: 3px;
  overflow-x: hidden;
}

.content__list {
  display: flex; 
  flex-direction: column;
  gap: 30px;
}

.result__video-container {
  width: 711px;
  margin-bottom: 22px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 386px;
  object-fit: cover;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
  text-decoration: none;
  color: #FFF;
}

.content__video-card-title {
  font-family: "Oswald";
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  padding-bottom: 6px;
}

.content__video-card-description{
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
}

.content__card-link {
  text-decoration: none;
}

.search-form__submit-button {
  color: white;
  font-family: "Fira Sans Condensed";
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0;
  background-color: transparent;
  width: 194px;
  height: 34px;
  border: 1px solid white;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} 

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  background-color: transparent;
  border: 1px solid white;
  margin-right: 5px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #fff;
  opacity: 0;
}

.search-form__pseudo-checkbox:checked {
  opacity: 1;
}

.search-form__label {
  display: flex;
  width: fit-content;
  cursor: pointer;
}

.search-form__label:hover {
  text-decoration: underline;
}

.search-form__textfield {
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  background-color: transparent;
  height: 27px;
  border-left: none;
  border-right: none;
  width: 225px;
  appearance: none;
}

.search-form__textfield::placeholder {
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  font-weight: 400;
  color: #fff;
  opacity: 70%;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
}

.button {
  cursor: pointer
}

.button:focus {
  outline: none;
}

.search-form__submit-button:focus-visible {
  outline: 1px solid white;
}

.search-form__submit-button:hover {
  text-decoration: underline;
}

.search-form__submit-button:active {
  background-color: #545050;
}

.content__list-item:active {
  background-color: #545050;
}

.content__list-item:hover {
  text-decoration: underline;
}

.content__list-item:focus {
  outline: none;
}

.content__list-item:focus-visible {
  outline: 1px solid white;
}

.more-button {
  width: 399px;
  height: 34px;
  font-family: "Fira Sans Condensed";
  font-weight: 700;
  font-size: 18px;
  background-color: inherit;
  border: 1px solid white;
  color: #fff;
  margin-top: 30px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
